#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'compass'
Compass.add_project_configuration('compass/config.rb')

compile '/stylesheets/partials/*/' do
  # don’t compile partials
end


compile '*' do
  case item[:extension]
    when 'html'
      filter :erb
      layout 'default'
    when 'scss'
      filter :sass, Compass.sass_engine_options
      layout 'blank'
    when 'js'
      filter :minify
      layout 'blank'
  end
end



route '/assets/stylesheets/partials/_*/' do
  # don't output sass partials, so return nil
  nil
end

route '/assets/*/' do
  if item[:extension] == 'scss'
    item.identifier.chop + '.css'
  else
    item.identifier.chop+'.'+item[:extension]
  end
end

route '*' do
  item.identifier + 'index.html'
end



layout '*', :erb
