<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    
    <link rel="stylesheet" type="text/css" href="<%=relative_path_to('/assets/stylesheets/main.css')%>" media="all">
    <%= content_for(@item, :custom_stylesheets) %>
    
  </head>
  <body>
    
    <div class="wrapper">
      <%= render "partials/shared/header"%> 
    
      <%= yield %>
    </div>
    
     <%= content_for(@item, :custom_javascripts) %>
     <%= content_for(@item, :embeded_javascripts) %>
    
    
  </body>
</html>
